#container{
    align-items: center;
    text-align: center;
}

#logo{
    background-color: darkgreen;
    height: 300px;
    align-items: center;
}

#menu{
    background-color: darkolivegreen;
    height: 100px;
}