

#logo{
    background-color: chartreuse;
    height: max-content;
    align-items:start;
    padding: 10px;
    display: flex;
}

#logo>div, h1 {
    flex: 1;
}

#title{
    color:black;
    margin-right: 20%;
    font-size: 60pt;
}

#menu{
    background-color: darkolivegreen;
    padding: 10px;
    max-height: max-content;
}

#logoutbutton{
    align-items: end;
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

#logout{
    font-size:20pt;
}