<header style="background-color: lightgray;">
  <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">
        <img src="/assets/images/Logo.png">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/menu" style="font-size: large;"><b>Menu</b></a>
          <a class="nav-link" href="/settings" style="font-size: large;"><b>Settings</b></a>
          <a class="nav-link" href="javascript:void(0)" (click)="logout()" style="font-size: large;"><b>Logout</b></a>
        </div>
        <img id="icon" src="assets/images/person.svg">
        <img id="toggle" src="assets/images/menu.svg" (click)="toggleMenu()">
      </div>
    </div>
  </nav>
</header>