<header>
    <div id="container">
        <nav class="navbar navbar-inverse" style="background-color: gray;">
          <div id="logo">
            <img src="/assets/images/Logo.png">
        </div>   
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li><a href="/menu" style="color: aliceblue;"><b>Menu</b></a></li>
              <li><a href="/settings" style="color: aliceblue;"><b>Settings</b></a></li>
              <li><a href="javascript:void(0)" (click)="logout()" style="color: aliceblue;"><b>Logout</b></a></li>
            </ul>
          </div>
    <a class="personIcon" href="#">
      <img id="icon" src="assets/images/person.svg">
    </a>
        </nav>   
  </div>
</header>