#container{
    display: inline-block;
    justify-content: start;
    width: 100%;
}

#logo{
    height: 10px;
    padding: 1px;
}

#container-icon{
    display: flex;
    justify-content: end;
    text-align: end;
}

.container-fluid{
    margin-top: 60px;
}
