<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="/assets/images/Logo.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-success btn-block btn-signin" type="submit" (click)="login()" style="margin-top: 40px;">Login</button>
        </form>
        <hr style="margin-top: 20px;">
        <div class="text-center">
            <p>Not a member? <a href="/register">Register</a></p>
          </div>
    </div>
</div>