#container{
    background-color: aqua;
    max-width: max-content;
    max-height: max-content;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#description{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

