#containerDesktops{
    padding: 10px;
    margin: 10px 0px 10px 0px;
    max-width: 100%;
    height: 720px;
    background-image: url('../../assets/images/cinema.png');
    background-color: whitesmoke;
    background-size: 100% 800px;

    h2{
        font-size: x-large;
        font-weight: bold;
        margin-top: 20px;
    }
}

#search-addon{
    width: 2%;
    height: 30px;
    text-align: center;
    align-items: center;
    margin-top: 2px;
}

#tableD{
    margin-left: 25%;
    width: 100%;
    max-height: 410px;
}

#paginationD{
    justify-content: center;
    display: flex;

    li, a{
        font-size: medium;
        text-align: center;
        width: 100%
    }
}


#containerMobiles{
    padding: 10px;
    margin: 10px 0px 10px 0px;
    max-width: 100%;
    height: 720px;
    background-image: url('../../assets/images/cinema mobile.png');
    background-color: whitesmoke;
    background-size: 100% 720px;
}

#search-addon-M{
    width: 10%;
    height: 30px;
    text-align: center;
    align-items: center;
    margin-top: 2px;
}

#paginationM{
    justify-content: center;
    display: flex;

    li, a{
        font-size: x-small;
        text-align: center;
        width: 100%
    }
}

#containerTablets{
    padding: 10px;
    margin: 10px 0px 10px 0px;
    max-width: 100%;
    height: 900px;
    background-image: url('../../assets/images/cinema.png');
    background-color: whitesmoke;
    background-size: 100% 1000px;

    h2{
        font-size: x-large;
        font-weight: bold;
        margin-top: 20px;
    }
}

#tableT{
    margin-left: 25%;
    width: 100%;
    max-height: 410px;
}

#paginationT{
    justify-content: center;
    display: flex;

    li, a{
        font-size: medium;
        text-align: center;
        width: 100%
    }
}

#iconSearch{
    margin-left: 25%;
}

h2, h4{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table, thead, tbody{
    margin-top: 20px;
    border: 2px solid darkgray; 
}

th{
    background-color: lightgrey;
}

tr {
    border-bottom: 2px solid darkgray; 
}

p{
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    text-align: center;
}

nav{
    cursor: pointer;

    a{
        font-weight: bold;
    }
}

ul{
    border: 1px solid black; 
}