<app-header></app-header>
<!--Tablets-->
@if (checkWidth > 768 && checkWidth <=1024){
    <div id="containerTablets">
        <p>menu works!</p>
    </div>
}
@else if (checkWidth <= 768){
  <!--Mobile phones-->
    <div id="container">
        <h4><b>Find a movie by searching the title</b></h4>
        <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search by Title" aria-label="Search" [(ngModel)]="movieTitle" name="movieTitle"
            aria-describedby="search-addon" style="width: 45%;"/>
            <span class="input-group-text border-0" id="search-addon-M" (click)="searchMovies()">
              <i class="fas fa-search" id="iconSearch"></i>
            </span>
          </div>
          
          @if (movies.length > 0){
            <div>
              <table class="table" style="width: 100%;">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let movie of movies">
                    <td>{{ movie.Title }}</td>
                    <td>{{ movie.Year }}</td>
                  </tr>
                </tbody>
              </table>

              <!--*ngIf="pagesResult === 1" to hsow or not the <nav>-->
                <nav aria-label="Page navigation example" id="pagination" *ngIf="movies.length === 10">
                  <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" tabindex="-1" id="previous" (click)="previousTenMovies()"><b>Previous</b></a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" id="next" (click)="nextTenMovies()"><b>Next</b></a>
                    </li>
                  </ul>
                </nav>
            
            </div>
          } @else if (movies.length === 0 && movieTitle.trim()) {
            <div>
              <p><b>No movies found.</b></p>
            </div>
          }
          
    </div>
}@else {
    <!--Desktops-->
    <div id="container">
        <h3><b>Find a movie by searching the title</b></h3>
        <div class="input-group rounded" style="display: flex; justify-content: center;">
            <input type="search" class="form-control rounded" placeholder="Search by Title" aria-label="Search" [(ngModel)]="movieTitle" name="movieTitle"
            aria-describedby="search-addon" style="width: 20%;"/>
            <span class="input-group-text border-0" id="search-addon" (click)="searchMovies()">
              <i class="fas fa-search" id="iconSearch"></i>
            </span>
          </div>

          @if (movies.length > 0){
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let movie of movies">
                    <td>{{ movie.Title }}</td>
                    <td>{{ movie.Year }}</td>
                  </tr>
                </tbody>
              </table>
  
              <!--*ngIf="pagesResult === 1" to hsow or not the <nav>-->
              <nav aria-label="Page navigation example" id="pagination" *ngIf="movies.length === 10 || currentPage != 1">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" tabindex="-1" id="previous" (click)="previousTenMovies()"><b>Previous</b></a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" id="next" (click)="nextTenMovies()"><b>Next</b></a>
                  </li>
                </ul>
              </nav>
            </div>
  
          }@else if (movies.length === 0 && movieTitle.trim()) {
            <div>
              <p style="margin-top: 10%;"><b>No movies found.</b></p>
            </div>
          }
          
    </div>
}
<app-footer></app-footer>
