<app-header></app-header>
<!--Tablets-->
@if (checkWidth > 768 && checkWidth <=1024) {
    <div id="containerTablets">
        <p>menu works!</p>
    </div>
}
@else if (checkWidth <= 768){
  <!--Mobile phones-->
    <div id="containerMobiles">
        <h4><b style="font-size: medium;">{{ searchDesc }}</b></h4>
        <div class="input-group rounded" style="margin-left: 20%; width: 60%">
            <input type="search" class="form-control rounded" placeholder="Search by Title" aria-label="Search" [(ngModel)]="movieTitle" name="movieTitle"
            aria-describedby="search-addon" style="width: 25%;" (keydown.enter)="firstSearchMovies()"/>
            <span class="input-group-text border-0" id="search-addon-M" (click)="firstSearchMovies()" style="width: 16%;">
              <i class="fas fa-search" id="iconSearch"></i>
            </span>
          </div>
          
          @if (movies.length > 0){
            <div style="width: 100%; height: 480px;">
              <table class="table table-striped table-hover" id="tableM" style="font-size: small;">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col" style="text-align: end;">Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let movie of movies" (click)="showMovieData(movie)">
                    <td style="text-align: start;"><b>{{ movie.Title }}</b></td>
                    <td style="text-align: end;"><b>{{ movie.Year }}</b></td>
                  </tr>
                </tbody>
              </table>
            </div>

                @if (currentPage <= 3){
                  <nav aria-label="Page navigation example" id="paginationM" *ngIf="movies.length === 10 || currentPage != 1">
                    <ul class="pagination justify-content-center">
                      <li class="page-item">
                        <a class="page-link" tabindex="-1" (click)="firstPage()">|<</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" tabindex="-1" (click)="previousTenMovies()"><</a>
                      </li>
                      <li class="page-item" [ngClass]="{'active': currentPage === 1}">
                        <a class="page-link" (click)="goToPage(1)">1</a>
                      </li>
                      <li class="page-item" [ngClass]="{'active': currentPage === 2}">
                        <a class="page-link" (click)="goToPage(2)">2</a>
                      </li>
                      <li class="page-item" [ngClass]="{'active': currentPage === 3}">
                        <a class="page-link" (click)="goToPage(3)">3</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link">...</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" (click)="goToPage(totalPages)">{{totalPages}}</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" (click)="nextTenMovies()">></a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" tabindex="-1" (click)="lastPage()">>|</a>
                      </li>
                    </ul>
                  </nav>
                }
                @else if (currentPage > 3 && currentPage < totalPages - 2){
                  <nav aria-label="Page navigation example" id="paginationM" *ngIf="movies.length === 10 || currentPage != 1">
                    <ul class="pagination justify-content-center">
                      <li class="page-item">
                        <a class="page-link" tabindex="-1" (click)="firstPage()">|<</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" tabindex="-1" (click)="previousTenMovies()"><</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" (click)="goToPage(1)">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link">...</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" (click)="goToPage(currentPage - 1)">{{currentPage - 1}}</a>
                      </li>
                      <li class="page-item active">
                        <a class="page-link" (click)="goToPage(currentPage)">{{currentPage}}</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" (click)="goToPage(currentPage + 1)">{{currentPage + 1}}</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link">...</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" (click)="goToPage(totalPages)">{{totalPages}}</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" (click)="nextTenMovies()">></a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" tabindex="-1" (click)="lastPage()">>|</a>
                      </li>
                    </ul>
                  </nav>
                }
                @else{
                  <nav aria-label="Page navigation example" id="paginationM" *ngIf="movies.length === 10 || currentPage != 1">
                    <ul class="pagination justify-content-center">
                      <li class="page-item">
                        <a class="page-link" tabindex="-1" (click)="firstPage()">|<</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" tabindex="-1" (click)="previousTenMovies()"><</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" (click)="goToPage(1)">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link">...</a>
                      </li>
                      <li class="page-item" [ngClass]="{'active': currentPage === totalPages - 2}">
                        <a class="page-link" (click)="goToPage(totalPages - 2)">{{totalPages - 2}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{'active': currentPage === totalPages - 1}">
                        <a class="page-link" (click)="goToPage(totalPages - 1)">{{totalPages - 1}}</a>
                      </li>
                      <li class="page-item" [ngClass]="{'active': currentPage === totalPages}">
                        <a class="page-link" (click)="goToPage(totalPages)">{{totalPages}}</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" (click)="nextTenMovies()">></a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" tabindex="-1" (click)="lastPage()">>|</a>
                      </li>
                    </ul>
                  </nav>
                }  
            
          } @else if (movies.length === 0 && movieTitle.trim() && clickedSearch) {
            <div>
              <p style="margin-top: 10%;"><b>No movies found.</b></p>
            </div>
          }
          
    </div>
}@else {
    <!--Desktops-->
    <div id="containerDesktops">
        <h2>{{ searchDesc }}</h2>
        <div class="input-group rounded" style="margin-left: 35%; width: 30%">
            <input type="search" class="form-control rounded" placeholder="Search by Title" aria-label="Search" [(ngModel)]="movieTitle" name="movieTitle"
            aria-describedby="search-addon" (keydown.enter)="firstSearchMovies()" style="font-size: 15px;"/>
            <span class="input-group-text border-0" id="search-addon" (click)="firstSearchMovies()" style="width: 6%;">
              <i class="fas fa-search" id="iconSearch"></i>
            </span>
          </div>

          @if (movies.length > 0){
            <div style="width: 50%; margin-left: 25%; height: 480px;">
              <table class="table table-striped table-hover" id="TableD" style="font-size: medium;">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col" style="text-align: end;">Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let movie of movies" style="cursor: pointer;" (click)="showMovieData(movie)">
                    <td style="text-align: start;">{{ movie.Title }}</td>
                    <td style="text-align: end;">{{ movie.Year }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
              @if (currentPage <= 3){
                <nav aria-label="Page navigation example" id="paginationD" style="margin-right: 5%;" *ngIf="movies.length === 10 || currentPage != 1">
                  <ul class="pagination justify-content-center" style="margin-left: 5%;">
                    <li class="page-item">
                      <a class="page-link" tabindex="-1" (click)="firstPage()">|<</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" tabindex="-1" (click)="previousTenMovies()"><</a>
                    </li>
                    <li class="page-item" [ngClass]="{'active': currentPage === 1}">
                      <a class="page-link" (click)="goToPage(1)">1</a>
                    </li>
                    <li class="page-item" [ngClass]="{'active': currentPage === 2}">
                      <a class="page-link" (click)="goToPage(2)">2</a>
                    </li>
                    <li class="page-item" [ngClass]="{'active': currentPage === 3}">
                      <a class="page-link" (click)="goToPage(3)">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link">...</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" (click)="goToPage(totalPages)">{{totalPages}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" (click)="nextTenMovies()">></a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" tabindex="-1" (click)="lastPage()">>|</a>
                    </li>
                  </ul>
                </nav>
              }
              @else if (currentPage > 3 && currentPage < totalPages - 2){
                <nav aria-label="Page navigation example" id="paginationD" style="margin-right: 5%;" *ngIf="movies.length === 10 || currentPage != 1">
                  <ul class="pagination justify-content-center" style="margin-left: 5%;">
                    <li class="page-item">
                      <a class="page-link" tabindex="-1" (click)="firstPage()">|<</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" tabindex="-1" (click)="previousTenMovies()"><</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" (click)="goToPage(1)">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link">...</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" (click)="goToPage(currentPage - 1)">{{currentPage - 1}}</a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" (click)="goToPage(currentPage)">{{currentPage}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" (click)="goToPage(currentPage + 1)">{{currentPage + 1}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link">...</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" (click)="goToPage(totalPages)">{{totalPages}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" (click)="nextTenMovies()">></a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" tabindex="-1" (click)="lastPage()">>|</a>
                    </li>
                  </ul>
                </nav>
              }
              @else {
                <nav aria-label="Page navigation example" id="paginationD" style="margin-right: 5%;" *ngIf="movies.length === 10 || currentPage != 1">
                  <ul class="pagination justify-content-center" style="margin-left: 5%;">
                    <li class="page-item">
                      <a class="page-link" tabindex="-1" (click)="firstPage()"><b>|<</b></a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" tabindex="-1" (click)="previousTenMovies()"><</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" (click)="goToPage(1)">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link">...</a>
                    </li>
                    <li class="page-item" [ngClass]="{'active': currentPage === totalPages - 2}">
                      <a class="page-link" (click)="goToPage(totalPages - 2)">{{totalPages - 2}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{'active': currentPage === totalPages - 1}">
                      <a class="page-link" (click)="goToPage(totalPages - 1)">{{totalPages - 1}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{'active': currentPage === totalPages}">
                      <a class="page-link" (click)="goToPage(totalPages)">{{totalPages}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" (click)="nextTenMovies()">></a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" tabindex="-1" (click)="lastPage()">>|</a>
                    </li>
                  </ul>
                </nav>
              }
            
  
          }@else if (movies.length === 0 && movieTitle.trim() && clickedSearch) {
            <div>
              <p style="margin-top: 10%;"><b>No movies found.</b></p>
            </div>
          }
          
    </div>
}
<app-footer></app-footer>
