<app-header></app-header>
@if (checkWidth > 1024){
    <div id="container">
        <div id="movieContentD">
            <img [src]="poster" id="imgD">
            <div id="infoMovieD">
                <p>Title: {{title}}</p>
                <p>Year: {{year}}</p>
                <p>Type: {{type}}</p>
            </div>
        </div>
        <button class="btn btn-lg btn-success" id="returnD" type="submit" (click)="returnMenu()">Return</button>
    </div>
}
@else if (checkWidth <= 768) {
    <div id="containerMobiles">
        <div id="movieContentM">
            <img [src]="poster" id="imgM" style="border: 5px solid black; padding: 3px;">
            <div id="infoMovieM">
                <p>Title: {{title}}</p>
                <p>Year: {{year}}</p>
                <p>Type: {{type}}</p>
            </div>
        </div>
        <button class="btn btn-lg btn-success" id="returnM" type="submit" (click)="returnMenu()"><b>Return</b></button>
    </div>
}
@else {
    <div id="containerTablets">
        <div id="movieContentT">
            
        </div>
        <button class="btn btn-lg btn-success" type="submit" (click)="returnMenu()"><b>Return</b></button>
    </div>
}
<app-footer></app-footer>