@import "../containers.scss";

// Desktops

#settingsContentD{
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 80%;
    padding: 20px 20px 0px 20px;

    h1{
        font-size: x-large;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

    form{
        font-size: medium;
    }

    input{
        font-size: medium;
    }
}

#buttonsD{
    margin-right: 75px;
    margin-top: 50px;
    
    button{
        font-weight: bold;
        font-size: small;
    }
}

// Mobiles

#settingsContentM{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 95%;
    padding: 20px 20px 0px 20px;

    h1{
        font-size: large;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    form{
        font-size: small;
    }

    input{
        font-size: small;
    }
}

#buttonsM{
    margin-top: 50px;
    
    button{
        font-weight: bold;
        font-size: small;
    }
}

//Tablets

#settingsContentT{
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 90%;
    padding: 20px 20px 0px 20px;

    h1{
        font-size: x-large;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    }

    #personal-info{
        width: 100%; 
        padding: 0px 40px 0px 40px;
    }

    form{
        font-size: medium;
    }

    input{
        font-size: medium;
    }
}

#buttonsT{
    margin-top: 50px;
    
    button{
        font-weight: bold;
        font-size: small;
    }
}